@import "tailwindcss";

.editor_view {
  ul,
  li,
  div,
  table,
  th,
  td {
    padding: 0.6rem 0.3rem;
  }

  > *:not(:last-child),
  li:not(:last-child),
  div:not([data-type="grid"]) > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  colgroup,
  col {
    display: none;
  }
}
